.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10%;
}

.contact p {
  color: #550707;
  font-size: 0.8rem;
}

.contact h1 {
  color: #550707;
  padding-top: 3%;
}

.contact h4 {
  color: #550707;
  padding-top: 2%;
}
.contact__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 3%;
  /* justify-content: center; */
  color: #550707;
}

.contact__form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact__form-section--name input {
  width: 84%;
}

.contact__form label {
  padding: 8px;
  font-size: 0.8rem;
}

.contact__form-section input {
  padding: 5px;
  background-color: rgb(248, 235, 221);
  border: 1px solid #5f2f14;
}

.contact__form textarea {
  height: 300px;
  width: 100%;
  margin-bottom: 3%;
  resize: none;
  background-color: rgb(248, 235, 221);
  border: 1px solid #5f2f14;
}

.contact__line {
  cursor: pointer;
}

.contact__line p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  cursor: pointer;
}

.contact__icon {
  transform: scale(0.8);
}

.contact__form__btn {
  width: 30%;
  background-color: #550707;
  color: #e7d8c9;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #5f2f14;
  padding: 7px;
  font-size: 0.7rem;
  cursor: pointer;
  margin-top: 4%;
}

.contact__form__btn:hover {
  background-color: #e7d8c9;
  color: #550707;
}
