.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery h1 {
  color: #550707;
  margin-top: 3%;
}

.gallery__img {
  margin: 5%;
  margin-right: 10%;
  margin-left: 10%;
  width: 70%;
  height: auto;
  border: 1px solid #550707;
}
