.home {
  display: flex;
  flex-direction: column;
}

.home__text-container--hours {
  margin: 6%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #550707;
}

.home__map-container iframe {
  border: none;
  width: 100%;
  height: 40vh;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

.home__map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background-color: #5f2f14;
}

.home__map-container h4 {
  text-align: center;
  color: #550707;
}

.home__text-container--address {
  padding: 4%;
  padding-bottom: 0;
  font-size: 0.75rem;
  background-color: #5f2f14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e7d8c9;
}

.home__text-container--marketing {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #550707;
}

.home__text-container--marketing h2 {
  margin-bottom: 2%;
}

.home__text-container--marketing img {
  width: 60%;
  height: auto;
  border: 2px solid #550707;
  margin: 3%;
}
