.menu {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 4%;
}

.menu h1 {
  color: #550707;
}

.menu__img {
  width: 88%;
  height: auto;
  margin: 6%;
}
