.slider {
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .slider {
    height: 40vh;
  }
}

@media screen and (min-width: 1300px) {
  .slider {
    height: 70vh;
  }
}

.slider__img {
  width: 100%;
  height: auto;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  cursor: pointer;
  color: #550707;
  user-select: none;
  z-index: 100;
}

.slider__arrow--right {
  right: 1%;
}

.slider__arrow--left {
  left: 1%;
}

.slider__arrow:hover {
  color: #00b737;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
